/* 
da 0 a 992px
 */

@media screen and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .raw {
    width: 100%;
  }

  .contenuto {
    display: block;
  }
  .marketing-info.col {
    width: 100%;
    display: block;
  }
  .img-marketing.col {
    width: 100%;
    display: block;
  }

  /* sezione 2 */
  .planning .raw {
    display: block;
    padding: 0;
  }

  .planning .col2 {
    width: 100%;
    margin: 0;
  }

  /* sezione 3 */

  .testimonial {
    display: block;
    text-align: center;
    -moz-text-align: center;
  }

  .testimonial-img {
    width: 100%;
    padding-left: 25%;
  }

  /* sezione 4 */

  .benefit .col {
    width: calc(100% / 2);
  }
}

/* 
da 0 a 992px
 */

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .raw.flex {
    display: block;
  }

  .col {
    width: 100%;
  }

  .contenuto {
    display: block;
  }
  .marketing-info {
    width: 100%;
  }
  .img-marketing {
    width: 100%;
  }

  /* sezione 4 */

  .benefit .raw {
    display: block;
  }

  .benefit .col {
    width: 100%;
  }
}
