/* 
da 0 a 2000px
*/

@media screen and (max-width: 2000px) {
  .container {
    width: 100%;
  }

  .col,
  .col2 {
    height: 340px;
  }
}

/* 
da 0 a 768px
*/
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  .col,
  .col2 {
    height: 420px;
  }

  .raw {
    display: block;
  }
  .raw > * {
    width: 100%;
    margin-bottom: 30px;
  }
  /* sezione 3 */

  .info > * {
    height: 230px;
  }

  /* sezione 4 */
  .raw-benefit {
    padding: 20px;
  }

  .raw-benefit .col {
    max-width: calc(100% / 2 - 40px);
    height: 415px;
  }
}

/* 
da 0 a 480px
*/

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  section.container {
    display: block;
  }
  .col {
    width: 100%;
    /* debug */
    height: 600px;
  }
  .col2 {
    margin-top: 30px;
    /* debug */
    width: 100%;
  }

  /* sezione 2 */

  .raw {
    display: block;
  }
  .raw > * {
    width: 100%;
  }

  /* sezione 3 */

  .info .col-text,
  .info .col2 {
    height: 500px;
    margin: 30px auto;
  }

  /* sezione 4  */
  .benefit {
    margin-top: 70px;
  }

  .raw-benefit {
    padding: 20px;
  }

  .raw-benefit .col {
    max-width: 100%;
    margin-bottom: 20px;
    height: 400px;
  }
}
