/* 
da 0 a 1200px
 */
@media screen and (min-width: 992px) {
  .container {
    width: 100%;
  }

  .desck {
    display: block;
  }

  .link ul {
    display: flex;
  }
}

/* 
da 0 a 992px
 */

@media screen and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .raw {
    width: 100%;
  }

  .hamb {
    display: block;
  }

  .col .contenuto {
    margin: 0;
  }

  .contenuto {
    display: block;
  }
  .marketing-info.col {
    width: 100%;
    display: block;
  }
  .img-marketing.col {
    width: 100%;
    display: block;
  }

  /* sezione 2 */
  .planning .raw {
    display: block;
    padding: 0;
  }

  .planning .col2 {
    width: 100%;
    margin: 0;
  }

  /* sezione 3 */

  .testimonial {
    display: block;
    text-align: center;
    -moz-text-align: center;
  }

  .testimonial-img img {
    display: inline-block;
  }
  .testimonial-img {
    width: 100%;
    text-align: center;
    object-fit: contain;
  }

  /* sezione 4 */

  .benefit .col {
    width: calc(100% / 2);
  }

  /* sezione 5 */
  .about .raw {
    justify-content: space-between;
  }

  .about .col {
    width: 60%;
    margin: 0;
  }

  .about .col2 {
    width: 30%;
    padding: 0;
  }

  /* sezione 6 */

  .free .container {
    width: 100%;
    padding: 50px 0;
  }

  /* footer */
  footer .container {
    padding: 0;
    width: 100%;
  }

  footer p {
    padding: 30px 30px;
  }
}

/* 
da 0 a 768px
 */

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  header ul {
    display: none;
  }

  .raw.flex {
    display: block;
  }

  .col {
    width: 100%;
  }

  .contenuto {
    display: block;
  }
  .marketing-info {
    width: 100%;
  }
  .img-marketing {
    width: 100%;
  }

  /* sezione 2 */

  .planning .container {
    width: 100%;
    padding: 0;
  }

  .planning .raw {
    display: block;
    padding: 0;
  }

  .planning .col2 {
    width: 100%;
    margin: 0;
  }
  /* sezione 3 */
  section.info {
    padding: 0;
    margin-bottom: 3.125rem;
  }
  .testimonial {
    display: block;
    text-align: center;
    -moz-text-align: center;
  }

  .testimonial-img {
    width: 100%;
  }

  /* sezione 4 */

  .benefit .raw {
    display: block;
  }

  .benefit .col {
    width: 100%;
  }

  /* sezione 5 */

  .about .raw {
    display: block;
  }

  .about .col {
    width: 100%;
  }

  .about .col2 {
    width: 60%;
  }

  /* sezione 6 */

  .free .container {
    width: 100%;
    padding: 50px 0;
  }

  /* footer */
  footer .container {
    padding: 0;
    width: 100%;
  }

  footer p {
    padding: 30px 30px;
  }
}
