/*
******** 
DEBUG
********
*/

.debug .menu,
.debug .logo {
  background-color: aquamarine;
}

/*
******** 
COMMON
********
*/
.menu,
.logo {
  padding: 20px;
}

.flex {
  display: flex;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}

.col,
.col2 {
  background-color: #b5ddff;
}

.radius {
  border-radius: 10px;
}

/*
******** 
HEADER
********
*/
header {
  background-color: #0084fd;
  padding: 20px;
}

nav {
  justify-content: space-between;
}

/*
******** 
MAIN
********
*/

section.container,
.raw {
  margin: 50px auto;
  flex-wrap: wrap;
  gap: 20px;
}
.col {
  height: 340px;
  width: 65%;
}

.col2 {
  width: calc(100% / 3 - 20px);
  height: 340px;
}

/* sezione 2  */

.box {
  background-color: #9792e4;
  padding: 20px;
}

.raw {
  justify-content: center;
}

.raw > * {
  width: calc(100% / 2 - 40px);
}

/* sezione 3 */
.info {
  text-align: center;
  padding: 15px;
}

.info .col2 {
  width: 100%;
  margin-bottom: 40px;
  background-color: #9792e4;
  height: 280px;
}

.col-text {
  background-color: inherit;
  height: 280px;
  margin-bottom: 40px auto;
}

/* sezione 4 */
.raw-benefit {
  justify-content: center;
  margin-top: 50px;
}

.benefit {
  text-align: center;
}

.raw-benefit .col {
  max-width: calc(100% / 3 - 20px);
}
