/* 
COMMON
*/

.flex {
  display: flex;
}
.container {
  max-width: 1140px;
  padding: 0 1.875rem;
  margin: 0 auto;
}

.btn {
  padding: 0.625rem 0.625rem;
  background-color: white;
  border-radius: 1.25rem;
}

h2,
h3,
h4 {
  color: #0084fd;
  font-size: 1.5rem;
}

/* 
HEADER
*/

header {
  background-color: #0084fd;
}

header .container.flex {
  justify-content: space-between;
}

.logo {
  padding: 10px;
}

ul.flex {
  height: 100%;
  align-items: center;
  gap: 30px;
  color: white;
}

.hamb {
  display: none;
  color: white;
}

/* 
MAIN
*/
main .raw {
  flex-wrap: wrap;
  margin: 50px 0;
}
.col,
.col-section {
  width: calc(100% / 3);
  /* debug */

  margin-top: 20px;
  padding: 0 20px 0 25px;
}

.col-section {
  width: calc((100% / 3) * 2);
}

.col .contenuto {
  border-radius: 10px;
  height: 100%;
  background-color: #b5ddff;
  margin: 0 -15px;
  padding: 20px 20px 0;
}

.marketing-info h2,
.marketing-info p {
  margin-bottom: 20px;
}
.centratura {
  text-align: center;
}

.marketing-info p {
  line-height: 1.5625rem;
  padding-right: 1.25rem;
  color: #5a6e7f;
}

.marketing-info.col,
.img-marketing.col {
  width: calc(100% / 2);
}

.img-marketing.col {
  padding-right: 5rem;
  padding-top: 2.1875rem;
}
.img-marketing.col img {
  width: 100%;
  display: block;
}

.btn-app {
  padding: 0.3125rem 3.125rem;
  color: white;
  background: #0084fd;
  font-size: 1.125rem;
  border-radius: 1.875rem;
}

.entity {
  font-size: 3.75rem;
  color: #0084fd;
  text-align: center;
}

.centro {
  text-align: center;
}

/* Section 2 */

.planning {
  margin-top: 50px;
  background-color: #9792e4;
}

.planning .container {
  padding: 0px 130px 50px 125px;
}

.planning .col2 {
  width: calc(100% / 2 - 30px);
  align-items: flex-end;
  padding: 10px;
  margin-left: 30px;
}

.planning-img {
  width: 100%;
  margin: 50px 10px;
}

.planning-img img {
  width: 100%;
  height: 50%;
}

.planning-text {
  margin-top: 30px;
}
.planning-text h2,
.planning-text p {
  color: white;
  margin-bottom: 20px;
}

.planning-text p {
  line-height: 25px;
}

.box-wh {
  background-color: white;
  width: 100%;
  padding: 10px 30px;
  border-radius: 50px;
}

.box-wh p,
.box-wh h2 {
  color: black;
}
.box-wh p {
  margin-top: 20px;
}

.planning2 {
  width: 100%;
  background-color: white;
}

.planning2 img {
  width: 70%;
}

.box-wh .btn {
  padding: 20px;
  border-radius: 50%;
  background-color: #9792e4;
  margin: 40px 0 20px;
}

/* 
Sezione 3
*/

.info {
  padding: 50px 125px;
}

.info .text {
  text-align: center;
  line-height: 50px;
}

.info h2 {
  font-size: 48px;
  color: #9792e4;
  margin-bottom: 50px;
}

.descrizione {
  padding: 0px 6.25rem;
  line-height: 1.2;
}

.testimonial {
  margin-top: 50px;
  width: 100%;
  background-color: #9792e4;
  padding: 20px 20px;
  border-radius: 50px;
  align-items: center;
}

.testimonial img {
  width: 190px;
  height: 200px;
  display: block;
  border-radius: 50%;
}

.quote {
  padding: 50px;
  color: white;
  font-size: 20px;
}

blockquote {
  margin-top: 20px;
}
