/*
******** 
DEBUG
********
*/

.debug .menu,
.debug .logo {
  background-color: aquamarine;
}

/*
******** 
COMMON
********
*/
.menu,
.logo {
  padding: 20px;
}

.flex {
  display: flex;
}
.container {
  margin: 0 auto;
  padding: 0 1.875rem;
}

.col,
.col2 {
  background-color: #b5ddff;
}

.radius {
  border-radius: 10px;
}

/*
******** 
HEADER
********
*/
header {
  background-color: #0084fd;
  padding: 10px;
}

nav {
  justify-content: space-between;
}

/*
******** 
MAIN
********
*/

section.container,
.raw {
  margin: 0 auto;
  flex-wrap: wrap;
}

section.container .raw {
  margin: 0;
}

.col {
  height: 340px;
  width: calc((100% / 3) * 2 - 2.5rem);
  padding: 30px;
  margin: 20px;
}

.col2 {
  width: calc(100% / 3 - 40px);
  height: 340px;
  padding: 30px;
  margin: 20px;
}

/* sezione 2  */

.box {
  background-color: #9792e4;
  padding: 20px;
}

.box .raw {
  padding: 0px 130px 0 125px;
}

.box .raw .col2 {
  width: calc(100% / 2 - 20px);
  padding: 20px;
  margin: 10px;
}

/* sezione 3 */
.info {
  text-align: center;
  padding: 15px;
}

.info .col2 {
  width: 100%;
  margin-bottom: 40px;
  background-color: #9792e4;
  height: 280px;
}

.col-text {
  background-color: inherit;
  height: 280px;
  margin-bottom: 40px auto;
}

/* sezione 4 */

section.benefit {
  background-color: #9792e4;
  padding: 20px;
}
.benefit .container {
  padding: 0;
}

.benefit {
  text-align: center;
}

.benefit .raw .col2 {
  width: calc(100% / 3 - 20px);
  margin: 10px;
}

/* section 5 */

.quote {
  background-color: white;
}

.quote .raw {
  flex-wrap: nowrap;
  gap: 10px;
}

.quote .col {
  width: 80%;
  margin: 0;
}

.quote .raw .col2 {
  width: 20%;
  margin: 0;
}

/* section 6*/

.start .raw {
  height: 600px;
  background-color: #b5ddff;
}

/*
******** 
FOOTER
********
*/

footer {
  background-color: #333333;
  padding: 50px 20px;
}
div .col {
  height: 200px;
  color: white;
}
